.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  padding: 2px;
  margin-left: 250px; /* Отступ для основного контента, чтобы не перекрывало меню */
  margin-right: 10px; /* Добавляем отступ справа */
  background: linear-gradient(180deg, #3b3d3f00, #c3cfe200);
  width: calc(100% - 270px); /* Уменьшаем ширину, учитывая новый отступ справа */
  transition: margin-left 0.3s, width 0.3s; /* Плавный переход при изменении отступа */
  overflow: hidden;
}

.sidebar-collapsed .main-content {
  margin-left: 100px; /* Отступ для основного контента, когда меню свернуто */
  width: calc(100% - 120px); /* Уменьшаем ширину, учитывая новый отступ справа */
}
