/* Background.css */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Фон всегда будет на заднем плане */
    background-color: #00294d; /* Цвет фона */
  }
  
  .background svg {
    width: 100%;
    height: 100%;
  }
  