body {
    --btn-color: #0f54ea;
    --bg-color: #000;
    padding: 1px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
  }
  
  .card-container {
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    background: var(--bg-color);
    font-family: "Raleway", sans-serif;
    font-weight: bold;
  }
  
  .card-container a {
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s linear;
    letter-spacing: 4px;
    text-align: center;
    width: 250px;
    height: 50px;
    font-size: 13px;
  }
  
  .card-container a.card2 {
    --line-weight: 1px;
    box-shadow: inset 0 0 1px var(--btn-color);
    position: relative;
  }
  
  .card-container a.card2:hover:before,
  .card-container a.card2:hover:after {
    transform: scaleY(1);
    opacity: 1;
    box-shadow: 0 0 15px var(--btn-color), 0 0 15px var(--btn-color);
  }
  
  .card-container a.card2:hover .card-inner:before,
  .card-container a.card2:hover .card-inner:after {
    transform: scaleX(1);
    opacity: 1;
    box-shadow: 0 0 15px var(--btn-color), 0 0 15px var(--btn-color);
  }
  
  .card-container a.card2:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--line-weight);
    height: 100%;
    background-color: var(--btn-color);
    transform: scaleY(0);
    transform-origin: bottom left;
    z-index: 1;
    opacity: 0;
    transition: transform 0.3s, opacity 1s;
  }
  
  .card-container a.card2:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: var(--line-weight);
    height: 100%;
    background-color: var(--btn-color);
    transform: scaleY(0);
    transform-origin: top right;
    z-index: 1;
    opacity: 0;
    transition: transform 0.3s, opacity 1s;
  }
  
  .card-container a.card2 .card-inner {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card-container a.card2 .card-inner:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--line-weight);
    background-color: var(--btn-color);
    transform: scaleX(0);
    transform-origin: top left;
    z-index: 1;
    opacity: 0;
    transition: transform 0.3s, opacity 1s;
  }
  
  .card-container a.card2 .card-inner:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--line-weight);
    background-color: var(--btn-color);
    transform: scaleX(0);
    transform-origin: top right;
    z-index: 1;
    opacity: 0;
    transition: transform 0.3s, opacity 1s;
  }
  
  /* Цвет текста становится синим при нажатии */
  .card-container a:active {
    color: var(--btn-color);
  }
  
  /* Стили для простого текстового поля */
  .simple-text-field {
    display: inline-block;
    padding: 0;
    margin: 0;
    color: white;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    width: 250px;
    height: 50px;
    font-size: 13px;
    border: 1px solid var(--btn-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 1px var(--btn-color);
  }
  