
@font-face {
  font-family: 'MasterFont';
  src: url('/fonts/master.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  --main-bg: #00071d;
  --item-hover: #1c2339;
  --secondary-bg: #36415e;
  --main-container-bg: #131c31;
  --text-color: #fff;
  --tooltip-bg: #251d33;
  --container-shadow: rgba(19, 28, 49, 0.2) 0px 7px 29px 0px;
}

html, body {
  width: 100%;
  margin: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--main-bg);
  transition: .3s ease-in-out;
}

.sidebar-container {
  background-color: var(--main-container-bg);
  box-shadow: var(--container-shadow);
  padding: 16px;
  transition: width .3s ease-in-out;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  height: 100vh;
  z-index: 1000;
}



.custom-sidebar-viewButton {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  right: -10px;
  top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  transition: .3s ease-in-out;
  color: #fff;
  box-shadow: var(--container-shadow);
  background-color: var(--secondary-bg);
  transform: rotate(0deg);
}

.custom-sidebar-viewButton:hover {
  opacity: 0.8;
}



.sidebar-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0px 0 0;
  margin-left: 0px;
}

.sidebar-listItem {
  color: var(--text-color);
  display: flex;
  align-items: дуае;
  transition: background .2s ease-in;
  padding: 2px 0;
  position: relative;
  font-family: 'MasterFont', sans-serif;
  font-size: 11px; /* Уменьшаем размер шрифта */
  padding: 0; /* Убираем внутренние отступы */
  margin: 0; /* Убираем внешние отступы */


}

.sidebar-listItem a {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  padding: 10px 0; /* Корректируем внутренние отступы: убираем с боков */
}

.sidebar-listItem a:hover {
  background-color: var(--item-hover);
}

.sidebar-listItem .sidebar-listIcon {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 0px;
  flex-shrink: 0;
}

.shrink {
  width: 92px;
}

.shrink .custom-sidebar-viewButton {
  transform: rotate(180deg);
}

.shrink .sidebar-listItemText {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-2px);
  transition: opacity 0.3s ease-in-out 0.1s, visibility 0.3s ease-in-out 0.1s, transform 0.3s ease-in-out 0.1s;
}

.shrink .sidebar-listItem a {


  padding: 10px 0; /* Изменяем внутренние отступы */
}

.shrink .sidebar-listIcon {
  margin-left: 15px;
  width: 20px; /* Оставляем иконку того же размера */
  height: 20px;
}

.sidebar-listItemText {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: opacity 0.3s ease-in-out 0.1s, visibility 0.3s ease-in-out 0.1s, transform 0.3s ease-in-out 0.1s;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-profileSection {
  display: flex;
  align-items: center;
  margin-top: auto;
  border: 1px solid var(--item-hover);
  padding: 8px 10px;
  border-radius: 28px;
  overflow: hidden;
  height: 60px;
  flex-shrink: 0;
  transition: background .3s ease-in-out;
  cursor: pointer;
}


.sidebar-profileSection:hover {
  background-color: var(--item-hover);
  justify-content: center; /* Остаемся в центре при наведении */
}

.sidebar-profileSection img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
  flex-shrink: 0;
}

.sidebar-profileSection span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
}

.shrink .sidebar-profileSection span {
  display: none;
}

.shrink .sidebar-profileSection {
  border-radius: 50%;
}
