/* Основные стили */
.table-container {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  color: #ffffff;
  box-shadow: 0 0 10px #5c9dcf44;
  display: block;
  border-radius: 8px;
  background: rgba(27, 39, 53, 0.8);
  overflow-x: auto;
  transition: all 0.3s ease; /* Плавный переход для сдвига таблицы */
  position: relative;
  z-index: 1; /* Обеспечиваем, что таблица не перекрывает фильтры */
}

.table-wrapper {
  overflow-x: auto;
}

/* Подсветка всего столбца при перетаскивании */
.target-column {
  border: 2px dashed #00f !important;
}

.target-column-highlight {
  background-color: rgba(0, 123, 255, 0.1);
}

.UserTableClass {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background: rgba(27, 39, 53, 0.8);
  color: #ffffff;
  position: relative;
  z-index: 1;
}

.UserTableClass th, .UserTableClass td {
  padding: 8px;
  border-bottom: 1px solid #46566c;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.UserTableClass tr:hover td {
  background-color: rgba(240, 248, 250, 0.021);
}

.UserTableClass th {
  position: relative;
  background-color: transparent;
  border-top: 1px solid #46566c;
  border-left: 1px solid #5c9dcf3b;
  border-right: 1px solid #46566c;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  min-width: 5px;
  max-width: 500px;
}

.th-content {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.UserTableClass th:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

.UserTableClass td {
  border-left: 1px solid #0076fd1e;
  border-right: 1px solid #0076fd1e;
}

.resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  cursor: col-resize;
  z-index: 1;
  background-image: url('/src/assets/image.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Остальные стили */
.search-form {
  display: flex;
  margin-bottom: 10px;
}

.search-input {
  padding: 8px 12px;
  border: 1px solid #46566c;
  border-radius: 5px;
  background: #1b2735;
  color: #ffffff;
  width: 200px;
}

.search-button {
  padding: 8px 16px;
  background-color: #5a6b8c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.search-button:hover {
  background-color: #3a4a7c;
}

.action-button {
  padding: 8px 16px;
  background-color: #5a6b8c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 5px;
}

.action-button:hover {
  background-color: #3a4a7c;
}

.field-visibility-controls {
  margin-bottom: 1rem;
}

.field-visibility-controls label {
  margin-right: 1rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 0;
}

.dropdown-toggle {
  background-color: #5a6b8c;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: #2e3a59;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 3;
  max-height: 300px;
  overflow-y: auto;
  width: 200px;
  border-radius: 4px;
}

.dropdown-menu input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background: #1b2735;
  color: #ffffff;
  border: 1px solid #46566c;
}

.dropdown-menu label {
  display: block;
  margin-bottom: 5px;
}

.action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.action-bar .search-form, .action-bar .action-button, .action-bar .dropdown {
  margin-bottom: 10px;
}

/* Стили для полос прокрутки */
.table-wrapper::-webkit-scrollbar {
  width: 12px;
}

.table-wrapper::-webkit-scrollbar-track {
  background: #1b2735;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #5c9dcf;
  border-radius: 6px;
  border: 3px solid #1b2735;
}

@media (max-width: 1024px) {
  .table-container {
    width: calc(100% - 90px);
  }

  .search-button, .action-button {
    padding: 6px 12px;
  }
}

@media (max-width: 768px) {
  .search-form {
    flex-direction: column;
    align-items: flex-start;
  }

  .table-container {
    width: calc(100% - 90px);
  }

  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .action-button, .search-button {
    width: 100%;
    margin-left: 0;
  }

  .action-bar {
    flex-direction: column;
    align-items: flex-start;
  }

  .action-bar .search-form, .action-bar .action-button, .action-bar .dropdown {
    width: 100%;
    margin-bottom: 10px;
  }
}

.resize-enabled .UserTableClass th {
  cursor: col-resize;
}

.resize-enabled .UserTableClass th:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

.resize-enabled .UserTableClass th .resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  z-index: 1;
}

.resize-enabled .UserTableClass th .resize-handle:hover {
  background-color: rgba(0, 123, 255, 0.189);
}

.resize-handle {
  position: absolute;
  right: -10px;
  top: 0;
  width: 10px;
  height: 100%;
  cursor: col-resize;
}

.resize-handle:hover {
  background-color: rgba(0, 123, 255, 0.2);
}

.draggable-header {
  position: relative;
}

.target-column {
  border: 2px dashed rgba(18, 18, 18, 0);
}

.resize-handle {
  position: absolute;
  right: -4px;
  top: 0;
  width: 8px;
  height: 100%;
  cursor: col-resize;
  z-index: 10;
  background-color: transparent;
}

/* Границы разделителя */
.resize-handle::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  background-color: #5c9dcf;
}

.resize-hhandle::after {
  right: 0;
}

.resize-handle:hover::before {
  background-color: #00f;
}

.UserTableClass th:hover .resize-handle::before {
  background-color: #00f;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* Основные стили */
.filter-settings {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  z-index: 4;
}

.filter-settings-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-filter-button {
  margin-left: auto;
  padding: 8px;
  background-color: #5a6b8c;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.add-filter-button:hover::after {
  content: 'Добавить фильтр';
  position: absolute;
  top: -30px;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 1;
}

.filter-panel {
  margin-top: 10px;
  padding: 10px;
  background-color: #2e3a59;
  border-radius: 5px;
  width: 300px;
  position: relative;
  z-index: 4;
}

.filter-panel .filter-panel-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.filter-panel .filter-panel-actions button {
  padding: 8px 16px;
  background-color: #5a6b8c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-field {
  margin-bottom: 10px;
}

.filter-field label {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.filter-field input[type='checkbox'] {
  margin-right: 5px;
}

.filter-panel .filter-panel-actions {
  margin-top: 20px;
}

.filter-attribute {
  background-color: #5a6b8c;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  z-index: 4;
}

.saved-filters {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.saved-filter {
  padding: 5px 10px;
  background-color: #5a6b8c;
  color: white;
  border-radius: 4px;
  font-size: 14px;
}

.filter-operator-panel {
  position: absolute;
  top: auto;
  left: 0;
  transform: translateY(-120%); /* Меняем положение над таблицей */
  background-color: #2e3a59;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 5; /* Увеличиваем z-index для перекрытия таблицы */
  width: 300px;
  transition: all 0.3s ease;
}

.filter-operator-panel.open {
  height: auto;
  opacity: 1;
  transform: translateY(-120%); /* Меняем направление открытия вверх */
  transition: height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.filter-operator-settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-operator-options label {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ffffff;
}

.filter-operator-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.filter-operator-actions button {
  padding: 8px 16px;
  background-color: #5a6b8c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Стили для кнопок Сохранить и Отменить в меню фильтров */
.filter-panel-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.filter-operator-panel {
  position: absolute;
  z-index: 10;
  background-color: #2e3a59;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.filter-operator-panel.open {
  transform: translateY(0);
}

.filter-operator-settings {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-operator-options label {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ffffff;
}

.filter-operator-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.filter-operator-actions button {
  padding: 8px 16px;
  background-color: #5a6b8c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.table-wrapper {
  transition: all 0.3s ease;
}
