

/* Основные стили */
.table-container {
  width: 100%; /* Убедитесь, что контейнер занимает всю ширину */
  margin: 0 auto;
  padding: 10px;
  color: #ffffff;
  box-shadow: 0 0 10px #5c9dcf44;
  display: block;
  border-radius: 8px;
  background: rgba(27, 39, 53, 0.8);
  overflow-x: auto; /* Добавляем горизонтальную прокрутку */
}

.table-wrapper {
  overflow-x: auto; /* Горизонтальная прокрутка при переполнении */
}

/* Подсветка всего столбца при перетаскивании */
.target-column {
  border: 2px dashed #00f !important;
}

.target-column-highlight {
  background-color: rgba(0, 123, 255, 0.1); /* Цвет подсветки всего столбца */
}

.UserTableClass {
  width: 100%; /* Ширина таблицы на 100% контейнера */
  border-collapse: collapse; /* Схлопывание границ ячеек */
  table-layout: fixed; /* Фиксированная ширина столбцов */
  background: rgba(27, 39, 53, 0.8); /* Прозрачный темный фон с 80% непрозрачностью */

  color: #ffffff; /* Белый цвет текста */
}

.UserTableClass th, .UserTableClass td {
  padding: 8px;
  border-bottom: 1px solid #46566c;
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  white-space: nowrap;
  overflow: hidden; /* Скрывает переполнение текста */
  text-overflow: ellipsis; /* Добавляет многоточие в конце текста */
  position: relative;


}

.UserTableClass tr:hover td {
  background-color: rgba(240, 248, 250, 0.021); /* Светло-голубое свечение при наведении */
}

.UserTableClass th {
  position: relative;
  background-color: transparent;
  border-top: 1px solid #46566c;
  border-left: 1px solid #5c9dcf3b;
  border-right: 1px solid #46566c;
  padding: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  min-width: 5px; /* Минимальная ширина заголовка */
  max-width: 500px; /* Максимальная ширина */
}

.th-content {
  display: inline-block; /* Важно: сохраняем поведение inline-блока */
  width: 100%; /* Ограничиваем ширину контейнера */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.UserTableClass th:hover {
  background-color: rgba(0, 123, 255, 0.1); /* Подсветка при наведении */
}

.UserTableClass td {
  border-left: 1px solid #0076fd1e; /* Светло-голубая вертикальная граница слева */
  /*width: auto; /* Убедитесь, что ширина по умолчанию установлена как auto */
  border-right: 1px solid #0076fd1e;
}

.resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 16px;
  cursor: col-resize;
  z-index: 1;
  background-image: url('/src/assets/image.png'); /* Обновите путь до вашего изображения */
  background-size: contain;
  background-repeat: no-repeat;
}

/* Остальные стили */

.search-form {
  display: flex; /* Использование флексбоксов для выравнивания элементов */
  margin-bottom: 10px; /* Отступ снизу */
}

.search-input {
  padding: 8px 12px; /* Внутренние отступы */
  border: 1px solid #46566c; /* Граница ввода */
  border-radius: 5px; /* Скругление углов */
  background: #1b2735; /* Темный фон ввода */
  color: #ffffff; /* Белый цвет текста */
  width: 200px; /* Ширина ввода */
}

.search-button {
  padding: 8px 16px; /* Внутренние отступы */
  background-color: #5a6b8c; /* Фон кнопки */
  color: white; /* Белый цвет текста */
  border: none; /* Отсутствие границы */
  border-radius: 5px; /* Скругление углов */
  cursor: pointer; /* Курсор в виде руки */
  margin-left: 10px; /* Отступ слева */
}

.search-button:hover {
  background-color: #3a4a7c; /* Фон кнопки при наведении */
}

.action-button {
  padding: 8px 16px; /* Внутренние отступы */
  background-color: #5a6b8c; /* Фон кнопки */
  color: white; /* Белый цвет текста */
  border: none; /* Отсутствие границы */
  border-radius: 5px; /* Скругление углов */
  cursor: pointer; /* Курсор в виде руки */
  margin: 0 5px; /* Отступы по горизонтали */
}

.action-button:hover {
  background-color: #3a4a7c; /* Фон кнопки при наведении */
}

.field-visibility-controls {
  margin-bottom: 1rem; /* Отступ снизу */
}

.field-visibility-controls label {
  margin-right: 1rem; /* Отступ справа */
}

.dropdown {
  position: relative; /* Относительное позиционирование */
  display: inline-block; /* Встроенно-блочное отображение */
  margin-bottom: 0; /* Отсутствие отступа снизу */
}

.dropdown-toggle {
  background-color: #5a6b8c; /* Фон кнопки */
  color: white; /* Белый цвет текста */
  padding: 10px; /* Внутренние отступы */
  border: none; /* Отсутствие границы */
  cursor: pointer; /* Курсор в виде руки */
  border-radius: 4px; /* Скругление углов */
}

.dropdown-menu {
  display: block; /* Блочное отображение */
  position: absolute; /* Абсолютное позиционирование */
  background-color: #2e3a59; /* Темный фон выпадающего меню */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Тень вокруг меню */
  padding: 10px; /* Внутренние отступы */
  z-index: 1; /* Уровень наложения */
  max-height: 300px; /* Максимальная высота меню */
  overflow-y: auto; /* Вертикальная прокрутка при переполнении */
  width: 200px; /* Ширина меню */
  border-radius: 4px; /* Скругление углов */
}

.dropdown-menu input[type="text"] {
  width: 100%; /* Ширина на 100% */
  padding: 5px; /* Внутренние отступы */
  margin-bottom: 10px; /* Отступ снизу */
  box-sizing: border-box; /* Учет границ и отступов в ширине */
  background: #1b2735; /* Темный фон ввода */
  color: #ffffff; /* Белый цвет текста */
  border: 1px solid #46566c; /* Граница ввода */
}

.dropdown-menu label {
  display: block; /* Блочное отображение */
  margin-bottom: 5px; /* Отступ снизу */
}

.action-bar {
  display: flex; /* Использование флексбоксов */
  justify-content: space-between; /* Распределение пространства между элементами */
  align-items: center; /* Выравнивание по центру по вертикали */
  margin-bottom: 0; /* Отсутствие отступа снизу */
}

.action-bar .search-form, .action-bar .action-button, .action-bar .dropdown {
  margin-bottom: 10px; /* Отступ снизу */
}



/* Стили для полос прокрутки */
.table-wrapper::-webkit-scrollbar {
  width: 12px; /* Ширина полосы прокрутки */
}

.table-wrapper::-webkit-scrollbar-track {
  background: #1b2735; /* Темный фон полосы прокрутки */
}

.table-wrapper::-webkit-scrollbar-thumb {
  background-color: #5c9dcf; /* Светло-голубой ползунок */
  border-radius: 6px; /* Радиус скругления ползунка */
  border: 3px solid #1b2735; /* Темный фон вокруг ползунка */
}

@media (max-width: 1024px) {
  .table-container {
    width: calc(100% - 90px); /* Измененное значение для отступа справа */
  }

  .search-button, .action-button {
    padding: 6px 12px; /* Уменьшенные отступы */
  }
}

@media (max-width: 768px) {
  .search-form {
    flex-direction: column; /* Вертикальное выравнивание элементов */
    align-items: flex-start; /* Выравнивание по началу по вертикали */
  }

  .table-container {
    width: calc(100% - 90px); /* Измененное значение для отступа справа */
  }

  .search-input {
    width: 100%; /* Ширина на 100% */
    margin-bottom: 10px; /* Отступ снизу */
  }

  .action-button, .search-button {
    width: 100%; /* Ширина на 100% */
    margin-left: 0; /* Отсутствие отступа слева */
  }

  .action-bar {
    flex-direction: column; /* Вертикальное выравнивание элементов */
    align-items: flex-start; /* Выравнивание по началу по вертикали */
  }

  .action-bar .search-form, .action-bar .action-button, .action-bar .dropdown {
    width: 100%; /* Ширина на 100% */
    margin-bottom: 10px; /* Отступ снизу */
  }
}

.resize-enabled .UserTableClass th {
  cursor: col-resize;
}

.resize-enabled .UserTableClass th:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

.resize-enabled .UserTableClass th .resize-handle {
  position: absolute;
  right: 0;
  top: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  z-index: 1;
}

.resize-enabled .UserTableClass th .resize-handle:hover {
  background-color: rgba(0, 123, 255, 0.189);
}

.resize-handle {
  position: absolute;
  right: -10px;
  top: 0;
  width: 10px;
  height: 100%;
  cursor: col-resize;

}

.resize-handle:hover {
  background-color: rgba(0, 123, 255, 0.2); /* Изменение фона при наведении */
}

.draggable-header {
  position: relative;
}

.target-column {
  border: 2px dashed rgba(18, 18, 18, 0); /* Подсветка целевого столбца при перетаскивании */
}

.resize-handle {
  position: absolute;
  right: -4px; /* Смещаем разделитель к границе */
  top: 0;
  width: 8px; /* Делаем разделитель шире для захвата */
  height: 100%;
  cursor: col-resize;
  z-index: 10; /* Высокий z-index для активации разделителя */
  background-color: transparent; /* Прозрачный, чтобы не перекрывать контент */
}

/* Границы разделителя */
.resize-handle::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%; /* Линия точно по середине разделителя */
  width: 2px;
  background-color: #5c9dcf; /* Цвет линии */
}


.resize-hhandle::after {
  right: 0; /* Правая граница */
}

.resize-handle:hover::before {
  background-color: #00f; /* Подсветка при наведении мышью */
}

.UserTableClass th:hover .resize-handle::before {
  background-color: #00f; /* Подсветка при наведении мышью */
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}