@font-face {
  font-family: 'MasterFont2';
  src: url('/fonts/master2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'MasterFont3';
  src: url('/fonts/master3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.filter-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
  z-index: 4;
  border: 1px solid #46566c;
  padding: 2px;
  background: linear-gradient(184deg, rgba(18,28,26,1) 0%, rgba(51,63,70,1) 100%);
  border-radius: 5px;
  position: relative; // Это нужно, чтобы кнопка крестика позиционировалась относительно этого контейнера

}

.filter-operator-panel {
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  background-color: #1b2735;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logical-operator-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: linear-gradient(184deg, rgba(73,126,116,1) 0%, rgba(39,78,67,1) 100%);
  color: white;
  padding: 2px 3px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #46566c;
  font-size: 12px;
  height: 19px; /* Установите фиксированную высоту, если это необходимо */
  animation: slideIn 0.3s ease-in-out;
}

.filter-item-group {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.filter-settings-content {
  display: flex;
  flex-direction: row; /* Изменено с column на row для отображения в строку */
  gap: 5px;
  width: 100%;
}

.add-filter-button {
  padding: 2px 8px;
  background: linear-gradient(184deg, rgba(73,126,116,1) 0%, rgba(39,78,67,1) 100%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Растягиваем кнопку по высоте нового контейнера */
  max-width: 100%;
}

.add-filter-button:hover {
  background: linear-gradient(184deg, rgba(18,28,26,1) 0%, rgba(51,63,70,1) 100%);
}

.filter-panel {
  position: absolute;
  width: 350px;
  min-width: 350px;
  max-width: 350px;
  background: linear-gradient(184deg, rgba(18,28,26,1) 0%, rgba(51,63,70,1) 100%);
  border-radius: 5px;
  border: 1px solid #014d2f;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.2s ease-in-out, opacity 0.2s ease-in-out;
  opacity: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  left: -3px;
  transform: translateY(5px);
}

.filter-panel.open {
  max-height: 350px;
  padding: 4px;
  opacity: 1;
  
}

/* Закрепление кнопок управления внизу */
.filter-panel-actions {
  //margin-top: auto; /* Закрепление внизу контейнера */
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 10px;
  

}

.filter-panel-actions button {
  background: linear-gradient(184deg, rgba(73,126,116,1) 0%, rgba(39,78,67,1) 100%);
  color: white;
  padding: 4px 4px;
  margin: 4px;



  transition: background-color 0.3s ease;
}

.filter-panel-actions button:hover {
  background-color: #3fa764; /* изменение цвета при наведении */
  color: #ffffff;
}


.filter-operator-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.custom-text-filter-input {
  width: 350px;
  box-sizing: border-box;
}

.filter-attribute {
  background: linear-gradient(184deg, rgba(73,126,116,1) 0%, rgba(39,78,67,1) 100%);
  color: white;
  padding: 2px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  max-height: 30px;
  cursor: pointer;
  border: 1px solid #46566c;
  position: relative;
  animation: slideIn 0.3s ease-in-out;
  height: 19px; /* Установите фиксированную высоту, если это необходимо */

}

.filter-attribute .remove-filter-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0 5px;
}

.saved-filters {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end;
}

.saved-filter-list {

  color: #b8d4d4; /* Светло-зелёный цвет текста */
  overflow-y: auto; /* Включаем прокрутку только для списка */

  max-height: 350px; /* Устанавливаем максимальную высоту для списка */
  width: 100%; /* Устанавливаем максимальную высоту для списка */
  align-items: flex-start;
}

.saved-filter-row {
  color: #b8d4d4; /* Светло-зелёный цвет текста */

  display: flex;
  padding: 4px 5px;
  border-bottom: 1px solid #215438;
 
  transition: background-color 0.2s ease;
}
.saved-filter-row:hover {
  background-color: rgba(222, 230, 229, 0.178); /* Цвет выделения при наведении */
}

.saved-filter-row.selected-filter {
  background-color: rgba(56, 62, 58, 0.3); /* Цвет фона для подсветки */
  color: #e0f0e0; /* Цвет текста для выбранного фильтра */
}

.saved-filter-row.selected-filter .saved-filter-cell {
  color: #e0f0e0; /* Цвет текста */
}

.saved-filter-row.selected-filter:hover {
  background-color: rgba(75, 88, 80, 0.5); /* Более яркий фон при наведении на выбранный фильтр */
}

.saved-filter-cell {
  padding: 4px;
  padding-left: 10px;
  color: white; /* Цвет текста */
  font-size: 14px;
}

.checkmark {
  margin-left: auto;
  color: #a9a7a7; /* Цвет галочки */
  font-size: 16px;
}


.saved-filter {
  padding: 5px 10px;
  background-color: #5a6b8c;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  animation: slideIn 0.2s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(25px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.negation-checkbox {
  margin-left: 7px;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 10px;
}

.filter-text-input {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px) scale(0.9);
  height: 30px;
  transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.filter-text-input.visible {
  opacity: 1;
  max-height: 100%;
  height: 30px;
  transform: translateY(0) scale(1);
}

.filter-attribute-container {
  position: relative;
}

.filter-field {
  width: auto; /* Если нужно ограничить ширину, чтобы не растягивалось */
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: left; /* Выравнивание текста в поле по левому краю */
  border-bottom: 0.5px solid #28362d; /* Зелёная линия-разделитель */

}

.filter-field:last-child {
  border-bottom: none; /* Убираем линию у последнего элемента */
}

.filter-field:hover {
  background: linear-gradient(184deg, rgb(73, 126, 116) 0%, rgb(39, 78, 67) 100%); /* Цвет при наведении */
}

.filter-field label {
  font-size: 14px;
  cursor: pointer;
  color: #f0f0f0; /* Цвет текста */
  display: flex;
  align-items: center;
}

/* Стили для неактивного чекбокса */
.filter-field input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  cursor: pointer;
  border: 1px solid #3e7851; /* Зелёная граница для неактивного состояния */
  background-color: transparent; /* Прозрачный фон для неактивного состояния */
  border-radius: 3px; /* Закругленные углы */
  appearance: none; /* Убираем стандартный стиль чекбокса */
  position: relative;
}

/* Цвет для активного чекбокса */
.filter-field input[type="checkbox"]:checked {
  background: linear-gradient(184deg, rgb(18, 28, 26) 0%, rgb(51, 63, 70) 100%);
  border-color: #2e6140;
  color: #716f6f; /* Белый цвет для галочки */
}

/* Псевдоэлемент для галочки внутри активного чекбокса */
.filter-field input[type="checkbox"]:checked::before {
  content: '✔'; /* Символ галочки */
  color: #a9a7a7;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  line-height: 1;
}

/* Стили для неактивного чекбокса при наведении */
.filter-field input[type="checkbox"]:hover {
  background-color: rgba(63, 167, 100, 0.2); /* Легкий зелёный оттенок при наведении */
}



.panel-content {
  display: flex;
  width: 200%;
  transition: transform 0.5s ease;
  transform: translateX(0); /* Изначально показываем первую страницу */
}

.main-filters-content {
  width: 50%;
  gap: 5px; /* Определите фиксированное расстояние между элементами */
  flex-shrink: 0;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  max-height: 350px; /* Ограничение высоты */
  min-height: 350px; /* Ограничение высоты */
  overflow-y: auto; /* Включение вертикальной прокрутки */
}

.filter-list {
  background-color: linear-gradient(184deg, rgba(18, 28, 26, 1) 0%, rgba(51, 63, 70, 1) 100%);
  border: 0.5px solid #272d29; /* зелёная рамка */
  color: #f0f0f0; /* светлый текст */
  max-height: 235px; /* Ограничьте высоту списка фильтров */
  overflow-y: auto; /* Скролл только внутри списка фильтров */
  flex-grow: 1; /* Заполнит оставшееся пространство */
  align-items: flex-start;
  width: 100%; /* Ширина на 100% от контейнера */

  justify-content: flex-start; /* Выравнивание дочерних элементов по левому краю */

}

.saved-filters-content {
  width: 50%;
  padding-left: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 320px;
  overflow-y: auto;
}

.panel-content.shifted {
  transform: translateX(-50%);
}
.main-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(1px) scale(0.95);
  transition: opacity 0.5s ease, transform 0.5s ease, visibility 0s 0.5s;
}


.search-input-container {
  margin-bottom: 5px; /* Добавить фиксированный отступ */
  min-width: 320px; /* Установка минимальной ширины */
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%; /* Ширина контейнера на всю доступную область */
}

.search-input {
  background: linear-gradient(184deg, rgb(18, 28, 26) 0%, rgb(51, 63, 70) 100%);
  color: #a3a3a3;
  border: 1px solid #037240;
  border-radius: 5px;
  padding: 5px 35px 5px 10px; /* Отступ справа для иконки */
  width: 100%;
  font-size: 14px;
  outline: none;
}

.search-input::placeholder {
  color: #5a6b8c;
}

.search-input:focus {
  border-color: #5a6b8c;
  box-shadow: 0 0 5px rgba(90, 107, 140, 0.5);
}

.search-icon {
  position: absolute;
  right: 10px; /* Расстояние от правого края контейнера */
  color: #5a6b8c; /* Цвет иконки, чтобы соответствовать общему стилю */
  pointer-events: none; /* Иконка не будет мешать вводу текста */
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%); /* Центрирование по вертикали */

}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  
}
.modal input {
  margin: 10px 0;
  width: 100%;
  padding: 8px;
}
.modal button {
  margin: 5px;
  flex-direction: column;
}


.back-button-mini {
  display: flex;
  align-items: center;
  justify-content: center;
 left: -2px;
 top: 0px;
  border: none; /* Убирает обводку */

  cursor: pointer;
  background-color: transparent; /* Убираем фон внутри кнопки */
  transition: transform 0.3s ease;
}

.back-button-mini:hover {
  transform: scale(1);
}

/* Эффект сдвига стрелки */
.back-button-mini svg path {
  stroke: rgba(255, 255, 255, 0.8); /* Белый цвет стрелки */
  transition: transform 0.5s ease;
}

.back-button-mini:hover svg path {
  transform: translateX(-6px); /* Сдвиг стрелки влево */
}


.context-menu {
  position: fixed;
  background-color: #1d2b2d; /* Тёмный фон для меню */
  border: 1px solid #2f4f4f; /* Обводка с лёгким контрастом */
  border-radius: 4px; /* Скругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Тень для придания глубины */
  padding: 8px 0; /* Внутренний отступ */
  min-width: 150px; /* Минимальная ширина меню */
  z-index: 1000; /* Поверх остальных элементов */
}

.context-menu button {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  color: #b8d4d4; /* Светло-зелёный цвет текста */
  padding: 4px 12px; /* Внутренний отступ для кнопок */
  text-align: left; /* Выравнивание текста по левому краю */
  font-size: 14px; /* Размер шрифта */
  cursor: pointer;
  transition: background-color 0.1s ease; /* Плавный переход при наведении */
}

.context-menu button:hover {
  background-color: #2f4f4f; /* Изменение цвета при наведении */
  color: #e2f1f1; /* Светлее текст при наведении */
}




.active-filter-button {
  background: linear-gradient(184deg, rgba(73,126,116,1) 0%, rgba(39,78,67,1) 100%);
  color: white;
  padding: 2px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border: 1px solid #46566c;
  position: relative;
  animation: slideIn 0.5s ease-in-out;
  height: 19px; /* Установите фиксированную высоту, если это необходимо */
  min-width: 50px; /* Минимальная ширина */
  
}

.remove-filter-button {
  background: none;
  border: none;
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
}

.filter-attribute-container.editing {
  border: 1px dashed #24805e; /* Цвет и стиль пунктирной границы */
  padding: 8px;
  margin: 4px;
}

.edit-filter-icon {
  cursor: pointer;
  margin-left: 8px;
  color: #007bff; // Цвет иконки редактирования
}

.edit-filter-icon:hover {
  color: #0056b3; // Цвет при наведении
}

/* Добавьте в файл IncidentFilters.scss */
.editing-mode {
  border: 2px dotted #007acc; /* Цвет можно изменить на нужный */
  padding: 5px; /* Отступы внутри обёртки, если нужно */
  border-radius: 4px; /* Скругление углов, опционально */
}


.filter-container {
  border: 1px dashed pink;
  padding: 1px;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: stretch;
}
.add-filter-container {
  display: flex;
  align-items: stretch; /* Растягиваем контейнер по высоте */
}

.close-all-filters-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: #666;
  &:hover {
    color: #333;
  }
}

.gear-container {
  color: #4a4a4a;
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  top:5px;
  display: inline-flex;
}

/* Эффект увеличения при наведении */
.gear-container:hover {
  transform: scale(1);
}

/* Большая шестеренка */
.large-gear {
  font-size: 16px;
  color: #4a4a4a;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: center;
  transition: color 0.5s ease;
  transform-origin: center;
  will-change: transform;
  transform: rotate(0deg); /* Начальное состояние */
  backface-visibility: hidden; /* Скрытие задней стороны */
  position: relative; /* Зафиксировать положение шестеренок */

}

/* Маленькая шестеренка, позиционируется справа от большой шестеренки */
.small-gear {
  font-size: 13px;
  color: #4a4a4a;
  position: absolute;
  left: -3px;
  top: -10px;
  transform-origin: center;
  transition: color 0.5s ease;
  transform-origin: center;
  will-change: transform;
  transform: rotate(0deg); /* Начальное состояние */
  backface-visibility: hidden; /* Скрытие задней стороны */
  position: relative; /* Зафиксировать положение шестеренок */

}

/* Цвет шестеренок при наведении */
.gear-container:hover .large-gear,
.gear-container:hover .small-gear {
  color: #2d7d53;
}

/* Анимация для вращения маленькой шестеренки */
@keyframes spin-small {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* Анимация для вращения большой шестеренки */
@keyframes spin-large {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active-filter-text {
  color: #007bff; /* Например, синий цвет */
  font-weight: bold; /* Жирный шрифт */
  font-size: 16px; /* Размер шрифта */
  /* Любые другие стили */
  margin-left: 10px; /* Укажите необходимое значение */

  
}

/* Обозначаем недоступные фильтры, изменяя цвет текста, делая его более светлым, и меняя курсор */
.filter-field.disabled {
  opacity: 0.5; /* Приглушаем цвет */
  cursor: default; /* Указываем курсор как запрещенный */
}

.filter-field.disabled label {
  color: #7a7a7a; /* Цвет текста для неактивных элементов */
}

.filter-field input[type="checkbox"]:disabled {
  background-color: #3e3e3e; /* Серый фон для неактивного чекбокса */
  border-color: #7a7a7a; /* Приглушенный цвет границы */
  cursor: default; /* Курсор для неактивного чекбокса */
}

.filter-field input[type="checkbox"]:disabled:checked::before {
  color: #5a5a5a; /* Серый цвет галочки для неактивного состояния */
}

.gear-container.rotate .large-gear {
  animation: spin-large 1s linear forwards;
}

.gear-container.rotate .small-gear {
  animation: spin-small 1s linear forwards;
}

/* Стрелочка в обычном состоянии */
.filter-arrow {
  display: inline-block;
  transition: transform 0.2s ease, color 0.2s ease; /* Плавный переход для анимации */
  font-size: 12px; /* Размер стрелочки */
  color: #333; /* Цвет стрелочки в обычном состоянии */
  cursor: pointer;
  padding: 5px;
}

/* Стрелочка в режиме редактирования */
.filter-arrow.edit-mode {
  color: #33ff88; /* Цвет стрелочки при активации режима редактирования */
  font-size: 12px; /* Увеличенный размер стрелочки при активации */
  transform: scale(1); /* Легкое увеличение для эффекта */
}