.filter-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative; /* Необходимо для позиционирования дочерних элементов */
  z-index: 4;
  border: 1px solid #46566c;
  padding: 2px;
  background-color: #1b2735;
  border-radius: 5px;
}

.filter-operator-panel {
  position: absolute;
  left: 0; /* Расположение слева */
  top: 100%; /* Прямо под кнопкой */
  z-index: 20;
  background-color: #1b2735;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.filter-settings-content {
  display: flex;
  gap: 5px;
  flex-grow: 1;
  flex-wrap: wrap;
  
  position: relative;
  left: 0; /* Изменяем отрицательное значение */
}

.add-filter-button {
  width: 25px;
  height: 25px;
  background-color: #5a6b8c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
 
  top: 2px;
  left: 2px; 
  z-index: 5;
}

.add-filter-button:hover {
  background-color: #3a4a7c;
}

.filter-panel {
  position: absolute;
  width: 300px;
  background-color: #404758e6;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0s 0.3s;
  opacity: 0;
  left: 0; /* Расположение слева от кнопки */
  top: 102%;
}

.filter-panel.open {
  max-height: 300px;
  padding: 15px;
  opacity: 1;
}

.filter-panel .filter-panel-actions button {
  padding: 8px 16px;
  background-color: #5a6b8c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-attribute {
  background-color: #5a6b8c;
  color: white;
  padding: 5px 5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  z-index: 4;
  border: 1px solid #46566c;
  position: relative;
  animation: slideIn 0.5s ease-in-out; /* Анимация появления */
}

.filter-attribute .remove-filter-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0 5px;
}

.saved-filters {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end; /* Фильтры располагаются справа налево */
}

.saved-filter {
  padding: 5px 10px;
  background-color: #5a6b8c;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  animation: slideIn 0.5s ease-in-out; /* Анимация появления */
}

@keyframes slideIn {
  0% {
      transform: translateX(100%);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
