.filter-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative; /* Необходимо для позиционирования дочерних элементов */
  z-index: 4;
  border: 1px solid #46566c;
  padding: 2px;
  background-color: #1b2735;
  border-radius: 5px;
}

.filter-operator-panel {
  position: absolute;
  left: 0; /* Расположение слева */
  top: 100%; /* Прямо под кнопкой */
  z-index: 20;
  background-color: #1b2735;
  padding: 10px;
  flex-direction: column; /* Изменение направления flex-элементов на столбик */
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logical-operator-select {
  -webkit-appearance: none; /* Убираем стандартную стрелку в WebKit браузерах */
  -moz-appearance: none; /* Убираем стандартную стрелку в Firefox */
  appearance: none; /* Убираем стрелку для всех остальных браузеров */
  background-color: #5a6b8c;
  color: white;
  padding: 2px 3px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 4;
  border: 1px solid #46566c;
  position: relative;
  animation: slideIn 0.5s ease-in-out; /* Анимация появления */
  text-align: center; /* Выравнивание текста по центру */
  width: auto;
  font-size: 12px;
}

.filter-item-group {
  display: inline-flex; /* Элементы будут располагаться в одну строку */
  align-items: center; /* Выравнивание по вертикали */
  gap: 5px; /* Промежуток между кнопкой фильтра и логическим оператором */
}

.filter-settings-content {
  display: flex;
  gap: 5px;
  flex-grow: 1;
  flex-wrap: wrap;
  
  position: relative;
  left: 0; /* Изменяем отрицательное значение */
}

.add-filter-button {
  padding: 2px 8px; /* Увеличим отступы для кнопки */
  background-color: #5a6b8c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px; /* Размер текста немного меньше */
  white-space: nowrap; /* Запрещаем перенос текста на новую строку */
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.add-filter-button:hover {
  background-color: #3a4a7c;
}

.filter-panel {
  position: absolute;
  width: 300px;
  background-color: #404758e6;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0s 0.3s;
  opacity: 0;
  left: 0; /* Расположение слева от кнопки */
  top: 102%;
}

.filter-panel.open {
  max-height: 300px;
  padding: 15px;
  opacity: 1;
}

.filter-panel .filter-panel-actions button {
  padding: 8px 16px;
  background-color: #5a6b8c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.filter-operator-options {
  display: flex;
  flex-direction: column; /* Изменение направления flex-элементов на столбик */
  gap: 10px; /* Промежуток между элементами */
  align-items: flex-start; /* Выравнивание по левому краю */

}

.filter-attribute {
  background-color: #5a6b8c;
  color: white;
  padding: 2px 2px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  z-index: 4;
  border: 1px solid #46566c;
  position: relative;
  animation: slideIn 0.5s ease-in-out; /* Анимация появления */
}

.filter-attribute .remove-filter-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0 5px;
}

.saved-filters {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-end; /* Фильтры располагаются справа налево */
}

.saved-filter {
  padding: 5px 10px;
  background-color: #5a6b8c;
  color: white;
  border-radius: 4px;
  font-size: 14px;
  animation: slideIn 0.5s ease-in-out; /* Анимация появления */
}

@keyframes slideIn {
  0% {
      transform: translateX(50px); /* Вместо 100% - сдвиг по горизонтали внутрь контейнера */
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}